#activity-modify{
    width: 25%;
    background-color: #F4F4F4;
    padding: 15px 30px;
    border-radius: 12px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
    max-height: 95vh;
}
.header-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-container{
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.input-container textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    resize: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #5b5b5b;
}
.input-container textarea:focus{
    background-color: transparent;
    outline: none;
    border: none;
    padding: none;
}
.input-container input[type="text"]{
    background-color: transparent;
    outline: none;
    border: none;
    padding: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #5b5b5b;
}
.choice-container{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.choice-container input{
    background-color: transparent;
    font-size: 18px;
    border: 1px solid #c4c4c4;
    color: #5b5b5b;
    font-weight: 700;
}
.choice-container input:focus{
    border: 2px solid #c4c4c4;
    outline: none;
}
.submit-form{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.submit-form button{
    width: 160px;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 4px;
}
#delete{
    background-color: transparent;
    border: 1px solid #c4c4c4;
}
#edit{
    color: #c4c4c4;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
}
h4{
    margin: 10px 0;
}