#activity-view{
    width: 90%;
    margin-right: 30px;
    transition: width 1s ease;
}
.seperator{
    border-bottom: 1px solid #c4c4c4;
}
.task-list-container{
    border: 1px solid #c4c4c4;
    border-radius: 12px;
    padding: 30px 20px;
}
.add-new-task{
    display: flex;
    align-items: center;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    border-radius: 12px;
    padding: 10px 20px;
    margin-bottom: 30px;
    column-gap: 10px;
    width: 95%;
}
.add-new-task h3{
    font-weight: 700;
}
.add-new-task:hover{
    background-color: #c4c4c4;
    transition: 0.1s;
    color: white;
    cursor: pointer;
}
.add-new-task:hover .logo-add-new-task{
    background-color: #c4c4c4;
    transition: 0.1s;
    color: white;
}
.add-new-task:hover h3{
    background-color: #c4c4c4;
    transition: 0.1s;
    color: white;
}
.logo-add-new-task{
    font-size: 32px;
    color: #c4c4c4;
}
.header-view{
    display: flex;
    align-items: baseline;
    column-gap: 60px;
}
.header-view h1{
    font-size: 48px;
    color: #2f2f2f;
    margin:20px 0px;
}
.return {
    position: relative;
    top: -22px;
    transition: 0.3s;
}
.return h2 a:hover{
    color: black;
}
.task-list-container h2{
    font-size: 28px;
    color: #2f2f2f;
    margin:10px 0px;
}
h3{
    margin: 0;
    color: #c4c4c4;
    font-size: 20px;
    font-weight: 200;
}
.task{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 20px;
}
.task section{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
input[type='checkbox']{
    transform: scale(1.7);
    margin-right: 15px;
}
.task-title{
    color: #5b5b5b;
    font-size: 20px;
    font-weight: 700;
}
section button{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 6px;
}
section button:hover{
    background-color: #5b5b5b;
    cursor: pointer;
}
section button:hover .expand-task{
    color: white;
}
.expand-task{
    font-size: 24px;
    color: #5b5b5b;
}
.add-new-task input[type='text']{
    outline: none;
    border: none;
    padding: 0;
    font-size: 24px;
    color: #5b5b5b;
}
.add-new-task input[type='text']:placeholder{
    color: #c4c4c4;
    font-weight: 100;
}
a {
    text-decoration: none;
    color: inherit;
}
