body{
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    color: #757575;
    align-items: stretch;
}
.sidebar{
    background-color: #F4F4F4;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 40px;
    border-radius: 12px;
    margin: 15px 30px;
    width: 45%;
    min-height: 90vh;
    max-height: 95vh;
    left: 300px;
    
}
.sidebar .main-option input {
    width: calc(100% - 5px);
    margin: 20px 0;
    padding: 8px 15px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    color: #757575;
}
.sidebar .main-option input::placeholder{
    color: #c4c4c4;
}
.sidebar .main-option input:focus{
    outline-color: #5B5B5B;
    color: #5B5B5B;
}
.sidebar{
    color: #5B5B5B;
}
.sidebar h5{
    font-size: 12px;
    margin: 10px 0;
}
.sidebar h2{
    font-size: 32px;
    margin: 10px 0px;
    display: inline;
}
.menubar{
    margin: 30px 15px;
}
.menubar button{
    border: none;   
    background-color: transparent;
    width: 40px;
    height: 40px;
}
.menubar button:hover{
    cursor: pointer;
}
.menubar button i{
    font-size: 24px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.title button{
    border: 0px;
    background-color: #F4F4F4;
}
.title button:hover{
    cursor: pointer;
}
.choice{
    padding: 5px 10px;
}
.choice:hover{
    background-color: #EBEBEB;
    border-radius: 6px;
    cursor: pointer;
}
ul{
    list-style-type: none;
    padding-left: 20px;
}
.choice-logo{
    margin-right: 12px;
}

.sidebar-logo{
    color: #5B5B5B;
    font-size: 32px;
}
.sign-out{
    font-size: 16px;
    display: flex;
    align-items: center;
}
.sign-out-logo{
    font-size: 24px;
    margin-right: 12px;
}

.category_choice{
    display: flex;
    justify-content: space-between;
}

.delete_button {
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.edit_button{
    background-color: blue;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.edit_button:hover, .delete_button:hover {
    background-color: #5b5b5b;
}

#categories li {
    color: #5b5b5b;
    font-size: 16px;
    margin: 10px 0;
}
