#activity-modify{
    width: 25%;
    background-color: #F4F4F4;
    padding: 15px 30px;
    border-radius: 12px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}
.header-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-task button{
    border: none;
    background-color: transparent;
}
.header-task button:hover{
    cursor: pointer;
}
.input-container{
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
.input-container textarea{
    background-color: transparent;
    border: none;
    width: 100%;
    resize: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #5b5b5b;
}
.input-container textarea:focus{
    background-color: transparent;
    outline: none;
    border: none;
    padding: none;
}
.input-container input[type="text"]{
    background-color: transparent;
    outline: none;
    border: none;
    padding: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #5b5b5b;
}
.choice-container{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.choice-container input{
    background-color: transparent;
    font-size: 18px;
    border: 1px solid #c4c4c4;
    color: #5b5b5b;
    font-weight: 700;
}
.choice-container input:focus{
    border: 2px solid #c4c4c4;
    outline: none;
}
.submit-form{
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.submit-form button{
    width: 160px;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 4px;
}
#delete{
    background-color: transparent;
    border: 1px solid #c4c4c4;
}
#edit{
    color: #c4c4c4;
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
}
h4{
    margin: 10px 0;
}
.add-new-sub-task{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: auto;
    margin-bottom: 20px;
}
.add-new-sub-task h3{
    font-weight: 700;
    color: #5b5b5b;
    font-size: 16px;
}
.add-new-sub-task i{
    color: #5b5b5b;
    font-size: 32px;
}
.add-new-sub-task h3:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: 0.1s;
}
.expand-sub-task{
    font-size: 14px;
    color: #5b5b5b;
}
.sub-task-menu{
    position: absolute;
    background-color: #F4F4F4;
    padding: 20px 10px;
    text-align: left;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    border: #1e1e1e 1px solid;
}
.sub-task-menu h5{
    font-size: 10px;
    margin: 0px;
    padding: 12px 4px;
    width: 50px;
}
.sub-task-menu h5:hover{
    background-color: #c4c4c4;
    border-radius: 6px;
}
.sub-task button:hover{
    background-color: #F4F4F4;
    cursor: pointer;
}
#delete-sub-task{
    color: red;
}
section.sub-task h3{
    font-size: 16px;
}
section.sub-task input{
    transform: scale(1.3);
}
div.sub-task{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px;

}
div.sub-task section.sub-task{
    display: flex;
}
.sub-task-input input{
    margin-bottom: 20px;
    padding: 4px 12px;
    background-color: transparent;
    border: 1px solid #5b5b5b;
    border-radius: 3px;
    width: 90%;
    display: none;
}
.sub-task-container ul{
    margin-bottom: 60px;
}
.choice-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.choice-container h4 {
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #1e1e1e;
}

.choice-container select {
    background-color: #F4F4F4;
    font-size: 16px;
    border: 1px solid #c4c4c4;
    color: #5b5b5b;
    font-weight: 700;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.choice-container select:focus {
    border: 2px solid #c4c4c4;
}
.sub-task-button{
    padding: 2px 6px;
    width: 60px;
}
.edit-sub-task-button{
    border: 1px solid blue;
    color: #F4F4F4;
    background-color: blue;
}
.edit-sub-task-button:hover{
    background-color: #F4F4F4;
    color: blue;
    cursor: pointer;
}
.delete-sub-task-button{
    border: 1px solid black;
    color: white;
    background-color: black;
}
.delete-sub-task-button:hover{
    background-color: #F4F4F4;
    color: #1e1e1e;
    cursor: pointer;
}
.button-sub-task-list{
    display: flex;
    column-gap: 10px;
}
.sub-task-header-input{
    width: 60%;
    margin-left: 10px;
}
